<phpunit
        bootstrap="./tests/bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        convertNoticesToExceptions="true"
        convertErrorsToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        >
    <testsuites>
        <testsuite name="BuildR - Utils">
            <directory suffix="Test.php">./tests/buildr/utils</directory>
        </testsuite>
        <testsuite name="BuildR - Main">
            <directory suffix="Test.php">./tests/buildr/http</directory>
            <directory suffix="Test.php">./tests/buildr/container</directory>
            <directory suffix="Test.php">./tests/buildr/startup</directory>
            <directory suffix="Test.php">./tests/buildr/reflection</directory>
            <directory suffix="Test.php">./tests/buildr/enumeration</directory>
            <directory suffix="Test.php">./tests/buildr/config</directory>
            <directory suffix="Test.php">./tests/buildr/serviceProvider</directory>
            <directory suffix="Test.php">./tests/buildr/loader</directory>
            <directory suffix="Test.php">./tests/buildr/environment</directory>
            <directory suffix="Test.php">./tests/buildr/filesystem</directory>
            <directory suffix="Test.php">./tests/buildr/cache</directory>
            <directory suffix="Test.php">./tests/buildr/logger</directory>
            <directory suffix="Test.php">./tests/buildr/shell</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
